
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Menu </title>
</head>
<body>
    <h1> Select one of the options bellow </h1>
    <h2> Click <a href="check_user.html" >here</a> to check the registered users </h2>
    <h2> Click <a href="register_user">here</a> to register a new user </h2>
    <h2> Click <a href="update_user">here</a> to update the information about an user </h2>
    <h2> Click <a href="delete_user.html">here</a> to delete a user </h2>
</body>
</html>