<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Register User </title>
    <link rel="stylesheet" href="{% static 'css/register_user_style.css' %}">
</head>
<body>
    <h1> Fill the fields bellow to register a new user </h1>

    <form action="{% url 'save' %}" method='POST'>
        <input type="text" name="First Name">
        <button type="submit"></button>
        <input type="text" name="Last Name">
        <input type="text" name="CPF">
        <input type="number" name="Age">
        <input type="text" name="Email">
    </form>

</body>
</html>